<div class="container-fluid app-base">
  <div class="row">
    {{#unless viewLiveForm}}
      <div class="{{if isHorizontalBar 'col-sm-offset-2 col-sm-8' 'col-sm-1'}}">
        <div class="form-builder col-sm-12 {{if isHorizontalBar 'horizontal-bar' 'vertical-bar animated-class'}}">
          <div class="text-box draggable element-item {{if isHorizontalBar 'col-sm-1'}}">
            {{inline-svg "text" class="icon-sm"}}
          </div>
          <div class="radio-group draggable element-item {{if isHorizontalBar 'col-sm-1'}}">
            {{inline-svg "radio-group" class="icon-sm"}}
          </div>
          <div class="check-box draggable element-item {{if isHorizontalBar 'col-sm-1'}}">
            {{inline-svg "checkbox" class="icon-sm"}}
          </div>
          <div class="date draggable element-item {{if isHorizontalBar 'col-sm-1'}}">
            {{inline-svg "date2" class="icon-sm"}}
          </div>
          <div class="text-area draggable element-item {{if isHorizontalBar 'col-sm-1'}}">
            {{inline-svg "text-area" class="icon-sm"}}
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="{{if isHorizontalBar 'col-sm-offset-2' 'col-sm-offset-1'}} col-sm-8">
      <div class="row form-base">
        <div class='form-group row'>
          <div class="col-sm-12" style="padding: 0 35px;">
            {{input type="text" value=formTitle class="col-sm-10 input-text {{if viewLiveForm '' 'editable-label'}}" }}
            <div class="pull-right">
              <span {{action "showLiveForm"}} data-toggle="tooltip" data-placement="left" title="View Form"> {{inline-svg "preview" class="icon-sm cp"}} </span>
              <span {{action "saveForm"}} data-toggle="tooltip" data-placement="bottom" title="Save Form"> {{inline-svg "save" class="icon-sm cp"}} </span>
              <span {{action "goBack"}} data-toggle="tooltip" data-placement="bottom" title="Go Back"> {{inline-svg "back" class="icon-sm cp"}} </span>
            </div>
          </div>
        </div>
        <ul class="col-sm-12 dragSortable">
          {{#each draggedContent as |content|}}
            {{form-elements content=content isLiveForm=viewLiveForm}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
